.main-container{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(10, 10, 10);
    padding: 10px;
    border-radius: 15px;
    background-color: antiquewhite;
    align-content: center;
    box-shadow: 10px 10px;
}

.button{
    margin: auto;
    width: 23%;
    border: 3px solid rgb(110, 111, 108);
    padding: 5px;
    border-radius: 15px;
    color:rgb(13, 13, 13);
    margin: auto;
    background-color:azure;
    text-align:center;
}

.blue-box{
    color:rgb(245, 245, 247);
    margin: auto;
    width: 45%;
    border: 3px solid rgb(29, 6, 236);
    padding: 10px;
    background-color: blue;
    border-radius: 15px;
    text-align:center;
    float: left;
    
}

.red-box{
    color:rgb(241, 238, 238);
    margin: auto;
    width: 45%;
    border: 3px solid rgb(233, 26, 26);
    padding: 10px;
    background-color: red;
    border-radius: 15px;
    float: right;
    text-align:center;
    
    
}

.space{
    height: 200px;
    
}

